#formsueldomensual{
     position: absolute;
    background-color: aqua;
    margin-left:25%;
    margin-right: 75%;
    margin-top:200px;
    
}

#formsueldoanual{
    position: absolute;
    background-color: aqua;
    margin-left:25%;
    margin-right: 75%;
    margin-top:40px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
  }​
input{
    margin-left: 55px;
    margin:5px;  
}
#form-user-data{
    
    position: absolute;
    padding:5px;
    margin-top: 100px;
    margin-left:10px;
}

#userdata{
position:absolute;
 display: inline-block;
 margin-top:15%;
 margin-bottom: auto;
 margin-left:auto;
 margin-right:97%;
}
.input-user-data{
    font-size: large;
    width: 400px;
    margin-bottom: 1px;
    margin-top:5px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
#botonuserdata{
    
    margin-left: 115px;
}

#limpiar-userdata{
   
    margin-left:150px;
}